body {
    font-size: 16px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    max-width: 640px;
    min-width: 320px;
    margin: auto;
}

a {
    color: #600;
}

h1 {
    color: #600;
}

.datetime {
    margin-top: 1.5em;
    font-size: .75em;
}

.post {
    padding: 10px;
}

.next {
    margin-top: 1em;
    font-size: .9em;
    text-align: right;
}

#comments {
  font-size: .9em;
}

header {
  margin-bottom: 2em;
}

header, footer {
    padding: 26px 0;
    font-size: .9em;
}

header ul, footer ul {/* override chrome user agent styles for footer */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    float: right;
}

header li, footer li {
    display: inline;/* make li horizontal */
    border-left:1px solid #ccc;/* border between li */
    margin-left:.6em;
    padding-left:.6em;
}

header li.first, footer li.first {
    border-left: none;/* no border before first li */
}

header li.last a, footer li.last a { /* for ie */
    text-decoration: none;
}

.tags ul {/* override chrome user agent styles for footer */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.tags li {
    display: inline;/* make li horizontal */
    margin-left:.6em;
    padding-left:.6em;
    line-height: 3em;
}

.tags p {
    display: inline;/* make li horizontal */
}

blockquote {
    font-style: italic;
}

@media only screen and (max-width: 666px), 
  screen and (max-device-width: 480px) {

h1 {
  text-align: center;
}

#comments {
  font-size: 1.6em;
}

.next {
    font-size: 1.6em;
}

.tags {
    font-size: 1.6em;
}

.tags ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.tags li {
    display: list-item;
    padding: 0;
}

.archive {
  font-size: 1.6em;
}

.archive ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.archive li {
    display: list-item;
    margin: 10px 0 0 0;
    padding: 0;
}

header{
    display: none;
}

#topNext {
    display: none;
}

footer {
    font-size: 2em;
}

footer ul {
    float: none;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

footer li {
    display: list-item;
    border-left: none;
    margin: 10px 0 0 0;
    padding-left:0;
}

footer li.last a { /* for ie */
    text-decoration: none;
}
  
}